.chat
  .notification
    %p チャットグループが作成されました。
  .side-bar
    .chat-user
      %h5 username
      .chat-user__actions
        %a.char-user__action{href: "#"}
          %i.fa.fa-pencil-square-o
        %a.char-user__action{href: "#"}
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link{href: "#"}
          %p.chat-group__name Group-name1
          %p.chat-group__message Group-message1 no message
      %li.chat-group
        %a.chat-group__link{href: "#"}
          %p.chat-group__name Group-name2
          %p.chat-group__message Group-message2 no message
      %li.chat-group
        %a.chat-group__link{href: "#"}
          %p.chat-group__name Group-name3
          %p.chat-group__message Group-message3 no message
  .chat-space
    .chat-header
      %p.chat-header__name Group-name
      %p.chat-header__members Group-members: Chris yayen
      %a.chat-header__edit{:href => "#"} Edit
    .chat-body
    .chat-footer
