@mixin side-bar-font {
    font {
    weight: bold;
    size  : 16px;
    }
}

@mixin top-box($padding: 20px) {
    box-sizing   : border-box;
    padding-left : $padding;
    padding-right: $padding;
}
